---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=seattle,wa&open_at=1615294136&term=seafood
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XNXjxHvrwSFvFadtQfuAPqpILBx2xO6TtAbo46URDWQAV2O9aRZDc0xnE-5P5-FFEVzPZI2YH0ocqPo38rX3Sp8xas6QWAzD2fryeoIWDkf3Jx9Oz8W-YN39Q0dFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - f2abaa44d9937f12
      Ratelimit-Remaining:
      - '4980'
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2021-03-09T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-8665dfcd87-5svxj; site=public_api_v3
      X-Proxied:
      - 10-69-157-99-uswest2bprod
      X-Extlb:
      - 10-69-157-99-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "cFTq5MmBDPb_VEqQXPw2Dw", "alias": "wasabi-sushi-and-izakaya-seattle",
        "name": "Wasabi Sushi & Izakaya", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/7Wq6K5Sh7Xdp5AHtngLYlA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wasabi-sushi-and-izakaya-seattle?adjust_creative=9OGAZM6oIqzohErPw71EeQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9OGAZM6oIqzohErPw71EeQ",
        "review_count": 1625, "categories": [{"alias": "sushi", "title": "Sushi Bars"},
        {"alias": "izakaya", "title": "Izakaya"}, {"alias": "ramen", "title": "Ramen"}],
        "rating": 4.0, "coordinates": {"latitude": 47.614196, "longitude": -122.346226},
        "transactions": ["restaurant_reservation", "pickup", "delivery"], "price":
        "$$", "location": {"address1": "2311 2nd Ave", "address2": "", "address3":
        "", "city": "Seattle", "zip_code": "98121", "country": "US", "state": "WA",
        "display_address": ["2311 2nd Ave", "Seattle, WA 98121"]}, "phone": "+12064416044",
        "display_phone": "(206) 441-6044", "distance": 1484.0542206874866}, {"id":
        "HX3E14oV9TYH3FZE2096nA", "alias": "sushi-joa-mercer-island-8", "name": "Sushi
        Joa", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/OouEkdIrJ9NUuOgsH8KJsA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/sushi-joa-mercer-island-8?adjust_creative=9OGAZM6oIqzohErPw71EeQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9OGAZM6oIqzohErPw71EeQ",
        "review_count": 165, "categories": [{"alias": "sushi", "[...]
