---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?orientation=landscape&per_page=1&query=sdfjhasgfdj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001ec784cde58e84a42b533039a9b385d80
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19967'
      X-Ratelimit-Reset:
      - '1617664345'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[],"total_results":0}'
  recorded_at: Wed, 10 Mar 2021 04:56:48 GMT
recorded_with: VCR 6.0.0
